.header {
  background-color: #e6e6e6;
}

.header__nav {
  display: flex;
  justify-content: space-around;
}

.header__nav-link {
  font-size: 20px;
  padding: 16px 40px;
  display: inline-block;
  color: inherit;
}

.header__nav-link:hover {
  text-decoration: underline;
}
